<body>
<% provide(:title, 'All users') %>
<ul class="users">
<h2>All users</h2>
<!--<p> User Count : <%= @userCnt %></p>-->
<h2>Managers</h2>
  <% @users.select {|u| u.type == 'Manager' }.each do |user| %>
    <%= render partial: 'users/user', object: user %>

  <% end %>

<h2>Instructors</h2>
  <% @users.select {|u| u.type == 'Instructor' }.each do |user| %>
    <%= render partial: 'users/user', object: user %>

  <% end %>

<h2>Normal Users</h2>
  <% @users.select {|u| u.type == nil && !u.admin}.each do |user| %>
    <%= render partial: 'users/user', object: user %>

  <% end %>
</ul>
</body>
