<% provide(:title, 'All Gym') %>

<h1>All Gyms</h1>

<table class="table table-hover">

  <thead>
    <tr>
      <th>Name</th>
      <th colspan="5"></th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
    <% if current_user.type == 'Manager' %>
      <% @gyms.select {|g| current_user.id == g.user_id}.each do |gym| %>
        <%= render gym %>
      <% end %>

    <% end %>
    <% @gyms.select {|g| current_user.id != g.user_id}.each do |gym| %>
      <%= render gym %>
    <% end %>
</tbody>
<% if current_user.admin? %>
  <%= link_to 'Create New Gym', new_gym_path %>
<% end %>

</table>
<br>


<%= will_paginate @gyms %>
