<% provide(:title, 'All Gym') %>

<h1>All Gyms</h1>
<% if current_user.type == 'Manager' %>
<table class="table table-hover">

  <thead>
    <tr>
      <th>My Gyms</th>
    </tr>
    <tr>
      <th>Name</th>
      <th colspan="5"></th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>

      <% @gyms.select {|g| current_user.id == g.user_id}.each do |gym| %>
        <%= render gym %>
      <% end %>

</tbody>
<% end %>

<% if current_user.admin? %>
  <%= link_to 'Create New Gym', new_gym_path %>
<% end %>

</table>


<table class="table table-hover">

  <thead>
  
    <tr>
      <th>Name</th>
      <th colspan="5"></th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>

    <% @gyms.select {|g| current_user.id != g.user_id}.each do |gym| %>
      <%= render gym %>
    <% end %>
</tbody>



</table>



<br>


<%= will_paginate @gyms %>
