

<% provide(:title, "Edit guide") %>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<h1>Update your guide</h1>

<div class="container">  
  <%= simple_form_for(@guide) do |f| %>     
    <div class="form-inputs">
      <%= f.input :title %></br>
      <%= f.input :content, as: :summernote %></br>
    </div> 
      
    <div class-"form-actions">
      <%= f.button :submit,'Change my guide', class: "btn btn-primary" %>
    </div>  
  <% end %> 
 
</div>
