
  
	
 <% if @favo_string == "NEW" %>	
	$('#favo1').html('<i class="glyphicon glyphicon-star-empty" style="color:yellow;background-color:green;font-size:34px;"></i><div>Your Favorite</div>')
 <% else %> 
  	$('#favo1').html('<i class="glyphicon glyphicon-star" style="color:white;background-color:gray;font-size:34px;"></i><div>Click to Favolite</div>')		
 <% end %>
    		


  
	
    
	
		

