

<% provide(:title, 'Guide') %>
<h1>Guide</h1>

<div class="container">  
  <%= simple_form_for(@guide) do |f| %>     
    <div class="form-inputs">
      <%= f.input :title %></br>
      <%= f.input :content, as: :summernote %></br>
    </div> 
      
    <div class-"form-actions">
      <%= f.button :submit,'Create my guide', class: "btn btn-primary" %>
    </div>  
  <% end %>
</div>
  
