<h3>Getting started from 10 gyms nearby!</h3>
<div id="map"></div>
 <!-- Replace the value of the key parameter with your own API key. -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh8Dk8RH7pFNXd98RGLeXnylM5D8GOhYY&libraries=places&callback=initMap">
</script>
